@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  background-image: url('./images/mafia.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom height classes */
.h-sm-100 { height: 100%; }
.h-md-75 { height: 75%; }
.h-md-50 { height: 50%; }
.h-lg-50 { height: 50%; }

/* Apply these only on specific screen sizes */
@media (min-width: 576px) {
  .h-sm-100 { height: 100%; }
}
@media (min-width: 768px) {
  .h-md-75 { height: 75%; }
  .h-md-50 { height: 50%; }
}
@media (min-width: 992px) {
  .h-lg-50 { height: 50%; }
}
